{% extends "layout.html" %}

{% block body %}

    <form action="/login" method="POST">
        <div class="login">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
                <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>

{%endblock%}